@import "../assets/style/mixin.scss";
@import "../assets/style/colors.scss";

.container {
  display: flex !important;
  justify-content: center !important;
}


.space-between-elements {
  margin-top: 6px;
}

.img-container {
 @include characterCoverFrame;
  background-color: $color4;
  display: inline-block;
  height: 300px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
  width: 300px;
}

img {
  transform-origin: 100 100;
  transition: transform 0.5s ease;
  flex-shrink: 0;
}

img:hover {
  transform: scale(1.1);
}

.text-center{
  text-align: center;
}



.fw-bold {
  font-weight: 700 !important;
}

.character-return {
  width:100%;
  display:block;
  background-color: $color4;
  cursor: pointer;

}